[submodule "libs/BlueVM"]
	path = libs/BlueVM
	url = https://github.com/dfranx/BlueVM.git
[submodule "libs/aGen"]
	path = libs/aGen
	url = https://github.com/dfranx/aGen.git
[submodule "libs/glsl-parser"]
	path = libs/glsl-parser
	url = https://github.com/dfranx/glsl-parser
[submodule "libs/hlslparser"]
	path = libs/hlslparser
	url = https://github.com/dfranx/hlslparser.git
